<f:layout name="Mail/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<f:translate key="templates_email_confirmationPayPalAdmin.headline" languageKey="{language}" extensionName="HgonPayment" arguments="{0 : fullName}" />
<f:translate key="templates_email_confirmationPayPalAdmin.text1.{paymentData.payment.isDonation}" languageKey="{language}" extensionName="HgonPayment" />

<f:translate key="templates_email_confirmationPayPalAdmin.text2" languageKey="{language}" extensionName="HgonPayment" />
<f:render partial="Email/DetailsPayment" section="Plaintext" arguments="{_all}"/>
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><f:translate key="templates_email_confirmationPayPalAdmin.headline" languageKey="{language}" extensionName="HgonPayment" arguments="{0 : fullName}" /></h1>
	<p><f:translate key="templates_email_confirmationPayPalAdmin.text1.{paymentData.payment.isDonation}" languageKey="{language}" extensionName="HgonPayment" /></p>
    <p class="important"><f:translate key="templates_email_confirmationPayPalAdmin.text2" languageKey="{language}" extensionName="HgonPayment" /></p>

    <f:render partial="Email/DetailsPayment" section="Html" arguments="{_all}"/>

</f:section>