<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd">

<div id="ppplus">
</div>
<script type="application/javascript">
    var ppp = PAYPAL.apps.PPP({
          "approvalUrl": "<f:format.raw>{approvalUrl}</f:format.raw>",
          "placeholder": "ppplus",
          "mode": "{f:if(condition: '{v:context.get()} == \'Development\'', then: 'sandbox', else: 'live')}",
          "country": "DE",
          "language": "DE",
          "useraction": "commit"
      });
</script>